div{
	background-color: #161a24;
	margin: 50px;
	width: 350px;
	height: 450px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
	padding: 0px;
}

.padding{
	padding: 10px 20px;
}

header{
	background-color: #161a24;
	width: 350px;
	height: 175px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #72f4d7;
	text-align: center;

}

table{
	background-color: #232938;
	margin: 0 auto;
	border-radius: 20px;
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: x-large;
    color: #8a97bb;
}

.orange{
	color: #ff3300;
}

td:active{
	background-color: #51b5b3;
	border-radius: 60px;
}


.equalsButton{
    width: 20px;
    background-color: #72f4d7;
    border-radius: 60px;
    color: #282e3f;
    font-weight: 700;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}